@mixin mobile {
    @media only screen and (max-width: 650px) {
        @content;
    }
  }
  
  @mixin tablet {
    @media only screen and (max-width: 1025px) {
        @content;
    }
  }

.modalBooking {
    width: 960px;
    height: 600px;
    background-color: #F1F4F8;
    position: absolute;
    top: 5%;
    right: 6%;
    z-index: 100;
    border: 1px  solid;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);   
    border-radius: 10px;
    @include tablet {
        width: 450px;
        left: 19%;
        top: 15%;
        height: 800px;
    }
    @include mobile {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 800px;
        z-index: 100;
        border-radius: 0px;
        border: none;
    }
}


.booking-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .booking-title {
        color: #506690;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 0.08cm;
        padding: 10px 18px;
        line-height: 24px;
    }
    .booking-close {
        padding: 10px 18px;
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
}

.method-add-booking {
    display: flex;
    padding: 0px 18px;
    align-items: center;
    color: #7C69EF;
    text-align: center;
    font-weight: 600;
    .reservation-add {
        width: 462px;
        border: 1px #7C69EF solid;
        padding: 8px 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        transition: 0.5s;
        &:hover {
            opacity: 0.7;
        }
    }
    .walk-in-add {
        width: 462px;
        border: 1px #7C69EF solid;
        border-left: none;
        padding: 8px 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: 0.5s;
        &:hover {
            opacity: 0.7;
        }
    }
}

.booking-containers {
    &::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    & {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    margin: 0 18px;
    width: 924px;
    overflow-y: scroll;
    margin-top: 15px;
    height: 410px;
    @include tablet {
        height: 600px;
        width: 100%;
    }
    @include mobile {
        width: 100%;
        overflow-x: hidden;
        width: calc(100vw - 40px);
    }
    .containers-title {
        color: #506690;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.04cm;
        font-style: normal;
        line-height: 20px;  
    }
    .booking-container1 {
        float: left;
        width: 66%;
        @include tablet {
            float: none;
            width: 420px;
        }
        @include mobile {
            width: 100vw;
        }
        .reservation-details {
            background-color: #fff;
            height: 320px;
            padding: 16px;
            @include tablet {
                height: 490px;
            }
            @include mobile {
                height: 640px;
            }
        }
        .reservation-date {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            @include tablet {
                display: block;
            }
            .reservation-date-title {
                color: #1B2A4E;
                font-weight: 600;
                line-height: 24px;
                font-size: 18px;
                margin-right: 20px; 
            }
            .container-dates {
                display: flex;
                @include tablet {
                    flex-wrap: wrap;
                }

            }
            .reservation-date-item {
                margin: 0 2px;
                width: 70px;
                border: 1px solid rgba(0, 40, 100, 0.12);
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                color: #1B2A4E;
                font-weight: 400;
                font-size: 16px;
                transition: 0.4s;
                @include tablet {
                    width: 20%;
                    margin-right: 20px;
                    margin-top: 20px;
                }
                @include mobile {
                    width: 16%;
                }
                p:nth-child(2) {
                    font-weight: 600;
                }
            }
            .reservation-selectMore-date{
                width: 70px;
                border: 1px solid rgba(0, 40, 100, 0.12);
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                color: #1B2A4E;
                font-weight: 400;
                font-size: 16px;
                transition: 0.4s;
                cursor: pointer;
                @include tablet {
                    margin-top: 20px;
                }
                p:nth-child(2) {
                    font-weight: 600;
                }
                .select-date {
                    font-weight: 600;
                    line-height: 24px;
                }
                .rmdp-input {
                    display: none;
                }
            }
            // .rmdp-header-plugin {
            //     margin-left: -500px;
            // }
        }
        .reservation-numberPeople {
            margin-top: 38px;
            display: flex;
            justify-content: space-between;
            @include mobile {
                display: block;
                .type-service {
                    width: 320px;
                }
            }
            .type-service {
                width: 180px;
            }
            .number-adults, .number-children {
                display: flex;
                align-items: center;
                @include tablet{
                    display: block;
                }
                @include mobile {
                    margin: 15px 0;
                }
                .adults-title, .children-title {
                    color: #1B2A4E;
                    font-weight: 600;
                    line-height: 24px;
                    font-size: 18px;
                    margin-right: 10px;
                    @include tablet {
                        margin-bottom: 5px;
                    } 
                }
            }
        }
        .reservation-timeAndtable {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            @include mobile {
                display: block;
                margin-top: 10px;
                .type-service {
                    width: 320px;
                }
            }
            .type-service {
                width: 180px;
            }
            .reservation-time, .reservation-table {
                display: flex;
                align-items: center;  
                @include tablet{
                    display: block;
                }  
                @include mobile {
                    margin: 15px 0;
                }
                .time-title, .table-title {
                    color: #1B2A4E;
                    font-weight: 600;
                    line-height: 24px;
                    font-size: 18px;
                    margin-right: 22px; 
                    @include tablet {
                        margin-bottom: 5px;
                    } 
                }
            }
        }
        .additional-details {
            background-color: #fff;
            height: 400px;
            padding: 16px;
            margin-top: 18px;
            @include tablet {
                height: 520px;
            }
            .occasion {
                margin-top: 26px;
                .occasion-title {
                    color: #1B2A4E;
                    font-weight: 600;
                    line-height: 24px;
                    font-size: 18px;
                    margin-right: 22px; 
                }
                .occasion-container {
                    margin-top: 16px;
                    display: flex;
                    justify-content: space-between;
                    @include tablet {
                        flex-wrap: wrap;
                    }
                    @include mobile {
                        justify-content: start;
                    }
                    .occasion-item {
                        font-weight: 600;
                        color: #7C69EF;
                        border: 1px solid rgba(0, 40, 100, 0.12);
                        border-radius: 4px;
                        padding: 8px 12px;
                        @include tablet {
                            margin-bottom: 10px;
                            width: 160px;
                        }
                        @include mobile {
                            width: 140px;
                            margin-right: 28px;
                        }
                    }
                }
            }
            .reservation-request, .reservation-notes {
                margin-top: 26px;
                .request-title, .notes-title {
                    color: #1B2A4E;
                    font-weight: 600;
                    line-height: 24px;
                    font-size: 18px;
                    margin-right: 22px; 
                }
                #note, #request {
                    color: #ABABAB;
                    font-weight: 500;
                    line-height: 20px;
                    margin-top: 16px;
                    padding-bottom: 14px;
                    padding-left: 10px;
                    width: 580px;
                    height: 56px;
                    border: 1px solid rgba(0, 40, 100, 0.12);
                    @include tablet {
                        width: 380px;
                    }
                    @include mobile {
                        width: 310px;
                    }
                }
            }
        }
    }
    .booking-container2 {
        float: right;
        width: 32%;
        @include tablet {
            float: none;
            width: 400px;
        }
        @include mobile {
            width: 100vw;
        }
        .diner-details {
            background-color: #fff;
            height: 120px;
            padding: 16px;
            @include tablet {
                margin-top: 20px;
            }
            .search-diner {
                margin-top: 16px;
                color: #ABABAB;
                line-height: 20px;
                font-size: 14px;
            }
            .css-1hb7zxy-IndicatorsContainer {
                display: none
            }
        }
        .customer-notify {
            margin-top: 16px;
            background-color: #fff;
            height: 360px;
            padding: 16px;
            .title-notify {
                color: #1B2A4E;
                font-weight: 600;
                line-height: 24px;
                font-size: 14px;
                margin: 16px 0;
            }
            .methods-notify {
                .method-notify {
                    color: #2F3C5E;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    display: flex;
                    margin: 6px 0;
                    align-items: center;
                    padding-left: 10px;
                    height: 36px;
                    cursor: pointer;
                    .method-selects {
                        width: 24px;
                        height: 24px;
                        border: 2px solid #7C69EF;
                        border-radius: 50%;
                        margin-right: 8px;
                        transition: 0.4s;
                    }
                    .method-select {
                        width: 24px;
                        height: 24px;
                        background-color: #fff;
                        border-radius: 50%;
                        border: 7px solid #7C69EF;
                        margin-right: 8px;
                        transition: 0.4s;
                    }
                }
                .method-notify-select {
                    background-color: #D6D6E5;
                    width: 130px;
                    height: 36px;
                    border-radius: 20px;
                    transition: 0.4s;
                }
            }
            .types-notify {
                .type-notify {
                    margin: 15px 0;
                    display: flex;
                    padding-left: 10px;
                }
                .type-notify-btn {
                    width: 24px;
                    height: 24px;
                    border-radius: 8px;
                    border: 2px solid #7C69EF;
                    margin-right: 8px;
                    display: flex;
                    align-items: center;
                    transition: 0.4s;
                }
            }
        }
    }
}


.booking-footer {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    height: 60px;
    @include mobile {
        border: none;
        border-radius: 0%;
    }
    .booking-cancel {
        width: 158px;
        height: 38px;
        background-color: #DF4759;
        color: white;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 18px;
        border-radius: 4px;
        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    .booking-add {
        width: 158px;
        height: 38px;
        background-color: #42BA96;
        color: white;
        padding: 9px 12px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 18px;
        border-radius: 4px;
        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
}